@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

:root {
  --primary: rgb(3, 37, 65);
  --secondary: #01b4e4;
  --bg-color: 3, 37, 65;
}
#root {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Source Sans Pro", Arial, sans-serif;
  height: 100vh;
}
* {
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
.rootlayout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Buttons */
.btn {
  color: #333;
  background-color: var(--secondary);
  border-radius: 12px;
  padding: 8px;
  cursor: pointer;
}
.btn:hover {
  box-shadow: 3px 3px 3px rgb(125, 125, 125);
  color: black;
}
.btn-primary {
  background-color: var(--primary);
}
.btn-secondary {
  background-color: var(--secondary);
}

/* Navbar */
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 auto;
  height: 60px;
  padding: 0px 100px;
  background-color: rgb(3, 37, 65);
}
.flexbox {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  gap: 80px;
}
.lng-btn {
  color: white;
  background-color: var(--primary);
  border: 1px solid white;
  cursor: pointer;
  min-height: 27px;
  border-radius: 4px;
}
.lng-btn:hover {
  background-color: white;
  color: black;
}

/* Footer */
footer {
  max-width: 100%;
  width: 100vw;
  background-color: var(--primary);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  padding-top: 44px;
  padding-bottom: 30px;
}

/* Title */
.flex-container {
  display: flex;
  background-image: linear-gradient(
      to right,
      rgba(var(--bg-color), 0.8) 0%,
      rgba(var(--bg-color), 0) 100%
    ),
    url("https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,00192f,00baff)/bgQUBbZ14hfeb975yZ2YzTnAwen.jpg");
  height: calc(100vh / 2.5);
  max-height: 360px;
  min-height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 70px 25px;
  width: 100%;
}
.title h1 {
  font-size: 48px;
  color: white;
}
.title h2 {
  font-size: 32px;
  color: white;
}
/* Homepage Search Form */
.homepage {
  max-width: 1400px;
  margin: auto;
}
.homepage form {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
}
label {
  width: 100%;
}
.homepage form input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 30px;
  height: 26px;
  line-height: 26px;
  font-size: 1.1em;
  width: 95%;
}
.homepage .search-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  padding: 0px 26px;
  border: none;
  background: linear-gradient(
    to right,
    rgba(30, 213, 169, 1) 0%,
    rgba(1, 180, 228, 1) 100%
  );
  border-radius: 30px;
  position: absolute;
  top: 0;
  right: -1px;
  color: #fff;
}
.homepage .search-btn:hover {
  cursor: pointer;
  color: #333;
}

/* Not Found */
.not-found {
  width: 50%;
  margin: auto;
}
.not-found h2 {
  color: red;
}
.not-found p {
  margin: 20px;
}
.not-found p a {
  text-decoration: none;
}

/* Loading & Error */
.loading,
.error-fetch {
  text-align: center;
  font-size: xx-large;
  color: var(--secondary);
  margin-top: 15px;
}
.error-fetch {
  color: red !important;
}

/* Movies List */
.wrap-container {
  margin-top: 25px;
  margin-left: 26px;
  margin-bottom: 25px;
  position: relative;
  top: 0;
  left: 0;
}
.movies-list {
  display: flex;
  overflow: auto;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  margin-top: 10px;
}
.wrap-container::after {
  content: "";
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    #fff 100%
  );
  will-change: opacity;
  pointer-events: none;
}
.movies-list a {
  text-decoration: none;
}
.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  position: relative;
  top: 0;
  left: 0;
  max-width: 200px;
}
.image {
  width: 150px;
}
.movie-card img {
  border-radius: 12px;
  width: 150px;
}
.progress-bar {
  position: absolute;
  bottom: 5.5pc;
  left: 0;
  width: 50px;
  height: 50px;
  z-index: 1;
}
.options {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  top: 8px;
  right: 8px;
  z-index: 4;
}
.glyphs {
  position: relative;
  top: 0;
  left: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 2em;
  min-height: 2em;
  width: 2em;
  height: 2em;
  line-height: inherit;
  background-position: center center;
  background-repeat: no-repeat;
  color: inherit;
  box-sizing: border-box;
}
.dots {
  background-image: url("https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-947-circle-more-white-4c440dfc1b0e626c70f4853dbbce9c4d1f2c5d8f3e05a7d3df47881cbd816adf.svg");
}
.dropped-options {
  display: none;
  position: absolute;
  top: 10px;
  right: -10px;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  background-color: white;
}
.options:hover .dropped-options {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.group {
  display: inline-flex;
  justify-content: flex-start;
}
.save {
  background-image: url("https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-73-bookmark-696996f38fbacdcebe327e9465c09386a177a5b7b93ac6665471ccbb239d9af0.svg");
}
.heart {
  background-image: url("https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-13-heart-28c7c34a7fef8b646f2f0c4c610f4a93bdce0b6cc24deea49674eb30f9961109.svg");
}
.watch-btn,
.fav-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.movie-card .movie-title {
  font-size: medium;
  text-align: center;
}
.movie-card .movie-title:hover {
  color: var(--secondary);
}
.movie-card .movie-summary {
  font-size: small;
  padding: 5px;
}

/* Movies Page */
.movies-page {
  max-width: 1200px;
  margin: auto;
}
.movie-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  align-items: center;
  margin: 10px 0;
}
.movie-panel .image,
.movie-panel .image img {
  width: 150px;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
  border: 1px solid;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  border: 1px solid rgba(211, 211, 211, 1);
  background-color: #fff;
}
.movie-panel {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: calc(100vw - 37vw);
  min-width: calc(100vw - 37vw);
  height: 225px;
}
.panel-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
