@import url("https://fonts.googleapis.com/css?family=Orbitron");

:root {
  --primary: rgb(0, 200, 200);
  --primary-hover: rgb(0, 230, 230);
  --secondary: #00a419;
  --secondary-hover: #01da21;
}

body {
  margin: 0;
  font-family: "Orbitron";
  background-color: rgba(150, 150, 150, 0.602);
}
* {
  color: black;
  margin: 0;
}

/* Buttons */
.btn {
  color: #333;
  background-color: var(--secondary);
  border-radius: 12px;
  padding: 8px;
  cursor: pointer;
}
.btn:hover {
  box-shadow: 3px 3px 3px rgb(125, 125, 125);
  color: black;
}

.btn-primary {
  background-color: var(--primary);
}
.btn-primary:hover {
  background-color: var(--primary-hover);
}

.btn-secondary {
  background-color: var(--secondary);
}
.btn-secondary:hover {
  background-color: var(--secondary-hover);
}

/* Navbar */
header nav {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  gap: 5px;
  border-bottom: 2px solid var(--primary);
  margin: 0 auto;
  background-color: #333;
}

header nav h1 {
  margin-right: auto;
  padding: 7px;
  color: aliceblue;
}

header nav a {
  text-decoration: none;
  padding: 7px;
  color: aliceblue;
}
header nav a.active,
header nav a:hover {
  background-color: var(--primary-hover);
  color: #333;
}
/* Title */
.flex-container {
  display: flex;
  justify-content: center;
  
}
.title {
  display: flex;
  flex-direction: column;
  min-width: 60%;
  padding: 70px 25px;
  background-color: var(--primary);
  /* background-image: url('../public/logo192.png'); */
}
.title h1 {
  font-size: xx-large;
  margin-bottom: 5px;
}
.title p {
  font-size: larger;
}
/* Search Form */
.homepage form {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.homepage input {
  padding: 8px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  min-width: 70%;
}
.homepage button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* Not Found */
.not-found {
  width: 50%;
  margin: auto;
}
.not-found h2 {
  color: red;
}
.not-found p {
  margin: 20px;
}
.not-found p a {
  text-decoration: none;
}

/* Loading & Error */
.loading, .error-fetch {
  text-align: center;
  font-size: xx-large;
  color: var(--secondary-hover);
  margin-top: 15px;
}
.error-fetch {
  color: red !important;
}

/* Movies list */
/* .movies-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  max-width: 90%;
  margin: 30px auto;
  justify-content: space-evenly;
  row-gap: 20px;
} */
.movies-list {
  display: flex;
  overflow: auto;
  margin: 20px 0px;
}
.movies-list a {
  text-decoration: none;
}
.movie-card {
  display: flex;
  flex-direction: column;
  /* border: 10px groove gray;
  box-shadow: 2px 2px 3px #333;
  background-color: var(--primary); */
  width: 250px;
  align-items: center;
}
.movie-card:hover {
  cursor: pointer;
  box-shadow: 3px 3px 8px #333;
}
.movie-card img {
  border: 1px solid #333;
  border-radius: 12px;
  margin: 5px 0px;
}
.movie-card h3 {
  font-size: medium;
  text-align: center;
  margin: 4px 0px;
}
.movie-card p {
  font-size: small;
  margin: 4px 0px;
  padding: 10px;
}